@charset "utf-8";

/* 
 * We reset the browser default values, 
 * and we add the main styles.
 */
 
body{
	font-size:12px;
	font-family:Arial,Verdana,sans-serif;
	color:#FFF;
	background-color:#000;
	width:100%;
	height:100%;
}

body, canvas, div, p {
	padding:0;
	margin:0;
}

img{
	border:0px;
}

/* 
 * Here we style the main blocks and attributes of the game
 */

#container{
	width:800px;
	min-height:600px;
	margin:20px auto;
	border:1px solid #CCC;
}

#mainCanvas{
	width:800px;
	height:600px;
}

#instructions{
	width:800px;
	margin:10px auto;
	text-align:center;
}

#instructions p{
	font-size:1em;
}